.page-container {
  width: 100%!important;
  position: relative!important;
  min-height: 100vh!important;
}

.bubble-container {
  position: relative;
}

.bubble-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}